{% extends "layout.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<section class="summoner_details">
        <article class="summoner_info_detail">
            <div class="summoner_tier">
        <b> {{summoner.name}}</b>
        <img src="{{tierLink(league.tier)}}" width="80">
            <b>{{league.tier}} {{league.entry.division}}</b>
        {{league.entry.leaguePoints}} points
            </div>
            <div class="summoner_tier">
                <h1>Ranked stats</h1>
            <table>
                <thead>
                <tr>
                    <th>Total played</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win ratio</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{league.entry.wins+league.entry.losses}}</td>
                    <td>{{league.entry.wins}}</td>
                    <td>{{league.entry.losses}}</td>
                    <td>{{round((league.entry.wins*100)/(league.entry.wins+league.entry.losses),0)}}</td>
                    <td>{{league.entry.leaguePoints}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </article>
    <nav class="summoner_nav">
        <ul>
            <li class="tab-summoners tab-active" data-show="summoner_champions">Champions</li>
            <li class="tab-summoners" data-show="summoner_charts">Charts</li>
        </ul>
    </nav>
    <article class="summoner_stats" id="summoner_champions">
        <h1>Champions</h1>
        <table class="table_statistics">
            <thead>
            <tr>
                <th>Champion</th>
                <th>Champion Mastery points</th>
                <th>Games Won/Lost/Total</th>
                <th>KDA</th>
                <th>Gold avg.</th>

            </tr>
            </thead>
            <tbody>
            {% for champion in data %}
            <tr>
                <td><a href="{{serverHost}}/champion/{{champName(champion.Championid)}}">{{getChampImage(champion.Championid,40)}}
                    {{champName(champion.Championid)}}</a> </td>
                <td>{{champion.Points}}</td>
                <td><span class="green">{{champion.Totalsessionswon}}</span>/
                    <span class="red">{{champion.Totalsessionslost}}</span>/{{champion.Totalsessionsplayed}}</td>
                <td>{{round((champion.Totalchampionkills+champion.Totalassists)/
                    max(champion.Totaldeathspersession,1),2)}}</td>
                <td>{{round(champion.Totalgoldearned/max(champion.Totalsessionsplayed,1),0)}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
    <article id="summoner_charts" style="display:none" class="summoner_stats">
        <h1>Charts</h1>
        <form method="GET" name="form_intervals_pick" class="intervals_picker">
            <div>
                <b>First Interval:</b>
                <input type="number" placeholder="First Interval" value="{{intervals[0]}}" name="initial">
            </div>
            <div>
                <b>Last Interval:</b>
                <input type="number" placeholder="Last Interval" value="{{intervals[1]}}" name="final">
            </div>
            <div>
                <b>Interval amount:</b>
                <input type="number" placeholder="Interval" value="{{intervals[2]}}" name="interval">
            </div>
            <div>
                <br>
                <input type="submit" class="button" value="New Intervals">
            </div>

        </form>

        <article class="home_rows">
            <h3>Mastery champion points / Win Ratio</h3>
            <div id="winratio_chart" class="chart"></div>
        </article>
        <article class="home_rows">
            <h3>Mastery champion points / Total KDA</h3>
            <div id="kda_chart" class="chart"></div>
        </article>
        <article class="home_rows">
            <h3>Mastery champion points / Gold earned per Match</h3>
            <div id="gold_chart" class="chart"></div>
        </article>
        <article class="home_rows">
            <h3>Mastery champion points / Gold earned per Match</h3>
            <div id="played_chart" class="chart"></div>
        </article>
    </article>
</section>
    <script>
        var winratiopoints =[{% for data in points %} [{{data['interval']}},{{data['Winratio']}}], {% endfor %}];
        var goldpoints = [{% for data in points %} [{{data['interval']}},{{data['Totalgoldearned']/data['Totalsessionsplayed']}}], {% endfor %}];
        var kdapoints = [{% for data in points %} [{{data['interval']}},{{round((data['Totalchampionkills']+data['Totalassists'])/min(data['Totaldeathspersession'],1),2)}}], {% endfor %}];
        var matchespoints = [{% for data in points %} [{{data['interval']}},{{data['Totalsessionsplayed']}}], {% endfor %}];
        var winratio=[{points:winratiopoints,title:'{{ champion.name }} Winratio'}];
        var gold=[{points:goldpoints,title:'{{ champion.name }} Gold avg.'}];
        var matches=[{points:matchespoints,title:'{{ champion.name }} Matches played'}];
        var kda = [{points:kdapoints,title:'{{ champion.name }} KDA'}];
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(function(){
            drawGraphics(winratio,'winratio');
            drawGraphics(gold,'gold');
            drawGraphics(kda,'kda');
            drawGraphics(matches,'played');
        });
    </script>
{% endblock %}